<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dong.mybatis.ch01.mapper.TUserMapper">
    <select id="selectUserByPrimaryKey" resultType="TUser" parameterType="java.lang.Integer">
        select
            id,
            user_name,
            real_name,
            mobile
        from t_user
        where id=#{id,jdbcType=INTEGER}
    </select>
</mapper>